{% extends 'base.html' %}

{% block title %}
NiceCoffee
{% endblock %}

{% block body %}
<p style="font-size:40px">Найкраща кава для твого продуктивного дня!</p>
<p style="font-size:25px">Ласкаво просимо до NiceCoffee! Ми — затишна локальна кав'ярня, створена для справжніх поціновувачів якісного зерна. Щоранку ми власноруч висмажуємо 100% арабіку з найкращих плантацій світу та випікаємо свіжі круасани. Наш затишний інтер'єр — ідеальне місце для продуктивної роботи за ноутбуком або теплої зустрічі з друзями.</p>
<img src="{{ url_for('static', filename='images/coffee.jpg') }}"
    alt ="coffee">
{% endblock %}
